<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to my first Web-Application</title>
    <link rel="stylesheet" href="/static/css/welcome.css">

</head>

<body>

<div class="stil">

    <div class="wil">Willkommen zu meiner ersten Webapplikation!</div>
    <div class="nor">
        Diese erste Webapplikation wurde im Zuge einer Übung erstellt. Sie soll auf die ersten drei HTML/CSS
        Projekte unseres Lehrgangs verlinken.
    </div>

    <div class="site1">
        <div class="text">Bei unserem ersten Projekt sollten wir eine einfach Internetseite in Form
            eines Facebook-Sketches erstellen.
        </div>
        <div class="link">
            <a href="/fakebook" target="_blank">
                <img border="0" src="/static/img/fabopic.png" width="400" height="auto">
            </a>
        </div>
    </div>

    <div class="leer"></div>

    <div class="site2">
        <div class="text">Unser zweites Projekt war eine Google Veräppelung namens Boogle.</div>
        <div class="link">
            <a href="/fakegoogle" target="_blank">
                <img border="0" src="/static/img/fagopic.png" width="400" height="auto">
            </a>
        </div>
    </div>

    <div class="leer"></div>

    <div class="site3">
        <div class="text">Das dritte Projekt handelte davon, für einen Friseur eine Internetseite zu
            erstellen.
        </div>
        <div class="link">
            <a href="/hairdresser" target="_blank">
                <img border="0" src="/static/img/hairpic.png" width="400" height="auto">
            </a>
        </div>
    </div>

</div>

</body>

</html>
